ejercicio4.dtd

    
    <!ELEMENT listacompras (venta+)>
    <!ELEMENT venta (ventacredito | ventainmediata)>

    <!ELEMENT ventacredito (fechafinpago?, cantidad)>
    <!ELEMENT ventainmediata (cantidad, divisa)>

    <!ELEMENT fechafinpago (#PCDATA)>
    <!ELEMENT cantidad (#PCDATA)>
    <!ELEMENT divisa (#PCDATA)>